﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>The Pknoa Challenge</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
    </header>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/jquery.signalR")
    @RenderSection("scripts", required: false)
</body>
</html>
