﻿<div id="body">
    <p>Status: <span id="status">Not connected :/</span></p>
    <p>Sum: <span id="transactions-sum"></span></p>
    <p>Count: <span id="transactions-count"></span></p>
</div>

@section scripts{   
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script>
        function updateAndFlashElement(selector, newContent) {
            $(selector).text(newContent);
            $(selector).stop().css("background-color", "#FFFF9C").animate({ backgroundColor: "#FFFFFF" }, 1500);
        }
        
        function updateTransactionSummary(transactionSummary) {
            updateAndFlashElement("#transactions-sum", transactionSummary.Sum);
            updateAndFlashElement("#transactions-count", transactionSummary.Count);
        };

        var transactionsHub = $.connection.transactionsHub;

        $.connection.hub.disconnected(function () {
            $("#status").text("Disconnected :'(");
        });

        $.connection.hub.start().done(function() {
            $("#status").text("Connected :)");
            transactionsHub.server.getTransactionSummary().done(updateTransactionSummary);
        }).fail(function() {
            $("#status").text("Failed to connect :(");
        });

        var tryingToReconnect = false;

        $.connection.hub.reconnecting(function () {
            $("#status").text("Reconnecting :|");
            tryingToReconnect = true;
        });

        $.connection.hub.reconnected(function () {
            $("#status").text("Connected :)");
            tryingToReconnect = false;
        });

        $.connection.hub.disconnected(function () {
            if (tryingToReconnect) {
                $("#status").text("Disconnected :'(");
            }
        });

        transactionsHub.client.transactionSumBroadcast = updateTransactionSummary;
    </script>
}
